.login-form-container {
  &__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;

    margin: 0 0 30px 0;
  }

  &__line-text {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 50px 0;
    z-index: 2;

    &__text {
      padding: 0 10px;
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      background-color: #fbf4ed;
    }

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      right: 0;
      border-top: 2px solid #412304;
      z-index: -1;
    }
  }

  &__form {
    width: 100%;
    margin-bottom: 10px;

    &__input {
      height: 60px;
      font-size: 25px;
    }

    .btn--primary {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      height: 60px;
      font-weight: 700;
    }

    .icon__container {
      margin-right: 30px;
      height: 45px !important;
      width: 45px !important;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 25px 53px;
    font-size: 25px;
    font-weight: 700;

    height: 60px;

    margin-top: 30px;

    &--forgot-password {
      background: transparent;
      box-shadow: none;
      text-decoration: underline;

      font-size: 25px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 30px;

    &__vertical-line {
      border-right: 3px solid #412304;
      height: 25px;
    }

    &__button {
      background: transparent;
      box-shadow: none;
      text-decoration: underline;

      font-size: 25px;

      padding: 0 10px;
    }
  }
}

.mobile .login-form-container {
  &__title {
    font-size: 19px;

    margin: 0 0 10px 0;
  }

  &__line-text {
    margin: 20px 0;

    &__text {
      font-size: 13px;
    }

    &:after {
      border-top: 1px solid #412304;
    }
  }

  &__form {
    &__input {
      height: 40px;
      font-size: 15px;
    }

    .btn--primary {
      width: 100%;
      font-size: 13px;
      height: 30px;
      margin-bottom: 15px;
    }

    .icon-container {
      height: 20px !important;
      width: 25px !important;
    }
  }

  &__button {
    height: 30px;

    margin-top: 15px;

    &--forgot-password {
      padding: 0;

      font-size: 13px;
      line-height: 10px;
    }
  }

  &__footer {
    margin-top: 20px;

    &__vertical-line {
      border-right: 1px solid #412304;
      height: 15px;
    }

    &__button {
      font-size: 11px !important;

      padding: 0 10px;
    }
  }
}
